form {
  width: 300px;
  margin: 0 auto;
  border: 2px solid;
  border-radius: 4px;
  box-sizing: border-box;
  width: 50%
}

input {
  font-size: 2em;
  height: 3rem;
  border: 2px solid;
  border-radius: 4px;
  width: 100%
}

textarea {
  font-size: 2em;
}

h4 {
  color: aliceblue;
}

